*{
  margin:0;
  padding:0;
 }

ul{
 list-style-type:none;
margin-left:20px;
margin-top:20px;
max-width:200px;
}
li a{
background-color:tomato;
padding: 10px;
display: block;
text-decoration: none;
}
li a:hover{
color:green;
}

li:last-child{
border-bottom:none; 
}

li{
text-align:center;
border-bottom:1px solid black;
}

li a:hover{
color:white;
background-color:green;
}